# Transformação

In [ ]:
import pandas as pd

In [ ]:
# Carrega csv com dados das partidas
partidas = pd.read_csv('../data/raw/campeonato-brasileiro-full.csv')
partidas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  8785 non-null   int64
 1   rodata              8785 non-null   int64
 2   data                8785 non-null   object
 3   hora                8785 non-null   object
 4   mandante            8785 non-null   object
 5   visitante           8785 non-null   object
 6   formacao_mandante   3810 non-null   object
 7   formacao_visitante  3810 non-null   object
 8   tecnico_mandante    4175 non-null   object
 9   tecnico_visitante   4175 non-null   object
 10  vencedor            8785 non-null   object
 11  arena               8785 non-null   object
 12  mandante_Placar     8785 non-null   int64
 13  visitante_Placar    8785 non-null   int64
 14  mandante_Estado     8785 non-null   object
 15  visitante_Estado    8785 non-null   object
dtypes: int64(4), object(12)
memory usage: 1.1+ MB

In [ ]:
# Carrega csv com dados dos cartões
cartoes = pd.read_csv('../data/raw/campeonato-brasileiro-cartoes.csv')
cartoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20953 entries, 0 to 20952
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   partida_id  20953 non-null  int64
 1   rodata      20953 non-null  int64
 2   clube       20953 non-null  object
 3   cartao      20953 non-null  object
 4   atleta      20947 non-null  object
 5   num_camisa  20567 non-null  float64
 6   posicao     19755 non-null  object
 7   minuto      20953 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ MB

In [7]:
partidas["partida_id"] = partidas["ID"]

In [8]:
final_df  = pd.merge(partidas, cartoes, on='partida_id', how='inner')
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20953 entries, 0 to 20952
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  20953 non-null  int64
 1   rodata_x            20953 non-null  int64
 2   data                20953 non-null  object
 3   hora                20953 non-null  object
 4   mandante            20953 non-null  object
 5   visitante           20953 non-null  object
 6   formacao_mandante   19222 non-null  object
 7   formacao_visitante  19222 non-null  object
 8   tecnico_mandante    20936 non-null  object
 9   tecnico_visitante   20933 non-null  object
 10  vencedor            20953 non-null  object
 11  arena               20953 non-null  object
 12  mandante_Placar     20953 non-null  int64
 13  visitante_Placar    20953 non-null  int64
 14  mandante_Estado     20953 non-null  object
 15  visitante_Estado    20953 non-null  object
 16  partida_id          20953 non-null  int64
 17  rodata_y            20953 non-null  int64
 18  clube               20953 non-null  object
 19  cartao              20953 non-null  object
 20  atleta              20947 non-null  object
 21  num_camisa          20567 non-null  float64
 22  posicao             19755 non-null  object
 23  minuto              20953 non-null  object
dtypes: float64(1), int64(6), object(17)
memory usage: 3.8+ MB

In [9]:
final_df = final_df[["partida_id", "data", "vencedor", "mandante", "visitante", "clube", "cartao", "atleta", "posicao", "minuto"]]

In [19]:
for idx, row in final_df.iterrows():
    if row['vencedor'] == row['mandante']:
        if row['clube'] == row['mandante']:
            final_df.at[idx, 'resultado'] = 'Vitória'
        else:
            final_df.at[idx, 'resultado'] = 'Derrota'
    elif row['vencedor'] == row['visitante']:
        if row['clube'] == row['visitante']:
            final_df.at[idx, 'resultado'] = 'Vitória'
        else:
            final_df.at[idx, 'resultado'] = 'Derrota'
    else:
        final_df.at[idx, 'resultado'] = 'Empate'

In [20]:
final_df.info()
final_df.to_csv('../data/processed/analise_faltas.csv', index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20953 entries, 0 to 20952
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   partida_id  20953 non-null  int64
 1   data        20953 non-null  object
 2   vencedor    20953 non-null  object
 3   mandante    20953 non-null  object
 4   visitante   20953 non-null  object
 5   clube       20953 non-null  object
 6   cartao      20953 non-null  object
 7   atleta      20947 non-null  object
 8   posicao     19755 non-null  object
 9   minuto      20953 non-null  object
 10  resultado   20953 non-null  object
dtypes: int64(1), object(10)
memory usage: 1.8+ MB

# Analise

In [3]:
import pandas as pd

In [4]:
faltas = pd.read_csv('../data/processed/analise_faltas.csv')
faltas.head()

,partida_id,data,vencedor,mandante,visitante,clube,cartao,atleta,posicao,minuto,resultado
0,4607,19/04/2014,Fluminense,Fluminense,Figueirense,Figueirense,Amarelo,Paulo Roberto da Silva,NaN,66,Derrota
1,4607,19/04/2014,Fluminense,Fluminense,Figueirense,Figueirense,Amarelo,Thiago Heleno,Zagueiro,44,Derrota
2,4608,19/04/2014,Internacional,Internacional,Vitoria,Internacional,Amarelo,Andrés D'Alessandro,Meio-campo,72,Vitória
3,4608,19/04/2014,Internacional,Internacional,Vitoria,Vitoria,Amarelo,Marcelo Machado dos Santos,NaN,86,Derrota
4,4608,19/04/2014,Internacional,Internacional,Vitoria,Vitoria,Amarelo,Mansur,Zagueiro,10,Derrota